html { 
  background: url(./images/bg-body.png) center no-repeat; 
  background-size: 117% 100%;
  width: 100%;
  height: 100%;
}
#container {
	width: 52%;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#head {
	background: url(./images/bg-header.jpg) center no-repeat;
	background-size: cover;
    margin-top: -21px;
    width: 100%;
    height: 140px;
}
#head-link {
	height: 40px;
	line-height: 50px;
	padding-left: 50px;
	padding-right: 10px;
	background: url(./images/bg-menu.png) no-repeat;
	background-size: cover;
	clear: both;
}
#left {
	width: 65%;
	min-height: 400px;
	float:left;
	margin-bottom: 5px;
	padding-left: 2%;
	padding-right: 4%;
	text-align: justify;
}
#ad-top > img {
	width: 100%;
	margin-left: -2%;
	text-align: left;
}
#right {
	width: 27%;
	float: left;
	margin-bottom: 5px;
}
#right > img {
	width: 100%;
}
#bg-feed {
	background: url(./images/bg-feed.gif) no-repeat top center;
	background-size: 70% 25px;
	width: 100%;
	text-align: center;
	overflow: hidden;
	color: white;
	background-color: #EFEFEF;
}
#sidebar-bottom > img {
	width: 100%;
}
#footer {
	background: url(./images/bg-footer.jpg) center no-repeat;
	background-size: cover;
    margin-top: 412px;
    width: 100%;
    height: 100px;
}
h1 {
	margin-bottom: 0px;
}
table {
	width: 100%;
	margin-top: 20px;
	text-align: left;
	color: black;
	padding: 0;
}
td {
	border-bottom: 1px solid;
	border-color: #BBBBBB;
}
p {
    display: block;
	padding-top: 5px;
	padding-bottom: 5px;
} 