body { 
  background: url(./images/bg-body.png) center no-repeat fixed; 
  background-size: cover;
}
#container {
	width: 700px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#head {
	background: url(./images/bg-header.jpg) no-repeat;
	background-size: cover;
    margin-top: -21px;
    height: 140px;
}
#head-link {
	height: 40px;
	line-height: 50px;
	padding-left: 50px;
	padding-right: 10px;
	background: url(./images/bg-menu.png) no-repeat;
	background-size: cover;
	clear: both;
}
#left {
	width: 505px;
	min-height: 400px;
	float:left;
	margin-bottom: 5px;
}
#right {
	width: 185px;
	min-height: 400px;
	float: left;
	margin-bottom: 5px;
	background-color: #DDDDDD;
}
#adtop {
	padding: 0px;
}
#bg-feed {
	background: url(./images/bg-feed.gif) center no-repeat;
	background-size: contain;
	margin-bottom: 10px;
	height: 25px;
	text-align: center;
	color: white;
}